
<div>
  <%= link_to "Shopping List", '/show_shopping_list' %>
  <h1>Easy Shopping List</h1>
    <%= link_to "All Recipes", '/recipes'%>
  <div>
    <ul>
      <li>
        <%= link_to "Add Recipe", '/upload_recipe' %>
      </li>
    </ul>
  </div>
</div>
